body {
  background: lightblue;
  
}
.puca {
  background-color: transparent;
  width: 50%;
  height: 250px;
  perspective: 1000px; 
  margin: auto;
  padding: auto;
  align-items: center;
  
  padding: 10px;
}

.kartya {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}


.puca:hover .kartya {
  transform: rotateX(180deg);
}


.kerdes, .valasz {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.kerdes {
  background-color: dodgerblue;
  color: white;
}


.valasz {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

.kovi {
  transform: rotateY(180deg);
  width: 5%;
  height: 5%;
}
.vissza {
  width: 5%;
  height: 5%;
}